[Unit]
Description=
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=mv /etc/containers/storage.conf.tmp /etc/containers/storage.conf

[Install]
WantedBy=multi-user.target