[Unit]
Description=Configure sshd to only listen on tailscale IPs
After=tailscale-up.service
Wants=tailscale-up.service

[Service]
Type=oneshot
ExecStart=/opt/setup/sshd-tailscale.sh

# [Install]
# WantedBy=multi-user.target