[Unit]
Description=delete Core user password
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=passwd -d core

[Install]
WantedBy=multi-user.target