[Unit]
Description=Tailscale Up
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/tailscale up --authkey=

# [Install]
# WantedBy=multi-user.target